<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IllegalParkingMapper">
	
	<!--表名 -->
	<sql id="tableName">
		"ILLEGALPARKING"
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		"XH",	
		"CJJG",	
		"CLFL",	
		"HPZL",	
		"HPHM",	
		"JDCSYR",	
		"SYXZ",	
		"FDJH",	
		"CLSBDH",	
		"CSYS",	
		"JTFS",	
		"FZJG",	
		"ZSXZQH",	
		"ZSXXDZ",	
		"DH",	
		"LXFS",	
		"TZSH",	
		"TZRQ",	
		"CJFS",	
		"WFSJ",	
		"XZQH",	
		"WFDD",	
		"LDDM",	
		"DDMS",	
		"WFSJ1",	
		"WFDD1",	
		"LDDM1",	
		"DDMS1",	
		"WFDZ",	
		"WFXW",	
		"SCZ",	
		"BZZ",	
		"ZQMJ",	
		"SPDZ",	
		"SBBH",	
		"ZPSTR1",	
		"ZPSTR2",	
		"ZPSTR3",	
		"SHZT"
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
			#{XH},	
			#{CJJG},	
			#{CLFL},	
			#{HPZL},	
			#{HPHM},	
			#{JDCSYR},	
			#{SYXZ},	
			#{FDJH},	
			#{CLSBDH},	
			#{CSYS},	
			#{JTFS},	
			#{FZJG},	
			#{ZSXZQH},	
			#{ZSXXDZ},	
			#{DH},	
			#{LXFS},	
			#{TZSH},	
			#{TZRQ},	
			#{CJFS},	
			#{WFSJ},	
			#{XZQH},	
			#{WFDD},	
			#{LDDM},	
			#{DDMS},	
			#{WFSJ1},	
			#{WFDD1},	
			#{LDDM1},	
			#{DDMS1},	
			#{WFDZ},	
			#{WFXW},	
			#{SCZ},	
			#{BZZ},	
			#{ZQMJ},	
			#{SPDZ},	
			#{SBBH},	
			#{ZPSTR1},	
			#{ZPSTR2},	
			#{ZPSTR3},	
			#{SHZT}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			"XH" = #{XH}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
			set 
				
				"SHZT" = #{SHZT}
			where 
				"XH" = #{XH}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			"XH" = #{XH}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					"HPHM" LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					"JDCSYR" LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					or
					"WFDZ" LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					or
					"ZQMJ" LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				
				)
		</if>
		<if test="pd.lastStart!=null and pd.lastStart!=''"><!-- 到期时间检索 -->
			and "WFSJ" &gt;= #{pd.lastStart} 
		</if>
		<if test="pd.lastEnd!=null and pd.lastEnd!=''"><!-- 到期时间检索 -->
			and "WFSJ" &lt;= #{pd.lastEnd} 
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			"XH" in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh -->
</mapper>